body {
  background-color: black;
}

.logo {
  width: 280px;
  height: 190px;
  background-color: white;
  display: flex;
  margin-left: 2rem;
  margin-top: 2rem;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.left {
  height: 200px;
  width: 60px;
  background-color: #4385f4;
  border-top-right-radius: 50%;
}

.right {
  height: 200px;
  width: 60px;
  background-color: #34a853;
  position: absolute;
  top: 0;
  right: 0;
  border-top-left-radius: 50%;
}

.top-r {
  height: 200px;
  width: 60px;
  background-color: #ea4335;
  position: absolute;
  top: -30px;
  transform: rotate(-130deg);
  right: 52px; /* Ajustado para alinear con el borde de .right */
  display: flex;
  overflow: hidden; /*this is really important to put*/
}

.top-l {
  height: 200px;
  width: 60px;
  background-color: #ea4335;
  position: absolute;
  top: -30px;
  transform: rotate(130deg);
  left: 52px; 
  display: flex;
  overflow: hidden;  /*this is really important to put*/

}
/*my better idea to fix the margins of the gmail logo was to 
make the red par a container of each coloured corner, so it looks
like a romboid but its actually a rectangle discolocated
from its parent, and each parent has the overflow:hidden property 
setted so it just doesnt show the overpassing parts.*/
.right-romboid {
  width: 120px; 
  height: 120px; 
  background-color: #fbbc05;
  transform: rotate(130deg);
  position: relative;
  top: 100px; 
  left: -10px; 
}
.left-romboid {
  width: 120px; 
  height: 120px; 
  background-color: #bb001b;
  transform: rotate(50deg);
  position: relative;
  top: 100px; 
  left: 9px; 
}
